/* Basic Stylings */

* {
  margin: 0;
  padding: 0;
}

body {
  background: #f4f3ee;
  color: #0e0e0e;
  font-family: "Montserrat";
  font-size: 20px;
  line-height: 35px;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 25px;
  line-height: 40px;
  margin: 15px 0px;
}

#current {
text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: #1f936b;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 10px; /* Place the button at the bottom of the page */
  right: 10px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #1f936b; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #f4f3ee; /* Add a dark-grey background on hover */
  color: #1f936b;
  border: solid 2px #0e0e0e;
}

/*  Header  */

header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.desktop-nav {
  display: none;
}

#header {
  background-color: #f4f3ee;
  color: #0e0e0e;
  box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.14);
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#menu-toggle {
  background-color: #f4f3ee;
  color: #0e0e0e;
  font-size: 50px;
  border: none;
}

#main-menu ul {
  display: none;
  flex-direction: column;
  gap: 20px;
  list-style-type: none;
  background-color: #fff;
  border-top: #0e0e0e solid 1px;
  box-shadow: 0 7px 10px 2px rgba(0, 0, 0, 0.042);
  padding: 20px;
  margin: 0px;
}

#main-menu a {
  color: #0e0e0e;
  text-decoration: none;
}

#main-menu.show ul {
    display: flex;
}

#logo {
  font-size: 25px;
  font-weight: bold;
}

/* Footer Styling  */

.footer-container {
    background-color: #ffffff;
    color: #0e0e0e;
    border-top: #0e0e0e solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 50px;
    align-items: center;
    font-size: 17px;
}

.footer-container a {
  text-decoration: none;
  color: #1f936b;
}

#thanks {
font-size: 25px;
margin-bottom: 15px;
}

#copy {
    font-size: 14px;
    opacity: 50%;
    margin-top: 10px;
}

/* Home Styling */

.container-home {
  font-size: 25px;
  line-height: 40px;
  padding: 2px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

#hey-im-nia {
    font-size: 30px;
    margin-bottom: 30px;
}

.solid {
    text-decoration: underline;
    text-decoration-color: #1f936b;
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
}

.case-btn {
    display: inline-block;
    margin: 50px 0px;
}

.case-btn a {
    text-decoration: none;
    background-color: #1f936b;
    color: #f4f3ee;
    border: #0e0e0e solid 1px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #0e0e0e4c;
    padding: 10px 30px;
}

/* About Me Styling */

.abt-container {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#abt-img, video {
    width: 100%; 
}

#abt-img {
    border: dashed 7px #1f936b;
}

.circle {
  display: inline-block; 
  border: 3px solid #79b9fa; 
  border-radius: 50%; 
  padding: 10px; 
  line-height: 1;
  text-align: center;
  min-width: 2em;
}

.underline {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: #1f936b;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}

.edit {
    margin: 30px 0px;
}

/* Project Overview Styling */

.proj-container {
    padding: 10px;
}

.thumbnail, .video {
    width: 100%;
}

.card-proj1, .card-proj2 {
    margin: 70px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-proj1 {
    border-left: solid 3px #1f936b;
    padding: 5px 20px;
}

.card-proj2 {
    border-right: solid 3px #1f936b;
    padding: 5px 20px;
}

.middle {
    display: inline-block;
    margin: 50px 0px;
}

.middle a {
    text-decoration: none;
    background-color: #1f936b;
    color: #f4f3ee;
    border: #0e0e0e solid 1px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #0e0e0e4c;
    padding: 10px 30px;
}

/* Individual Projects Styling */

.proj-overview,
.intro,.summary,
.design-process,
.purpose, .objectives,
.evaluation, .objective,
.proj-body {
    padding: 24px;
}

.jump-to {
    background-color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    margin-left: 45px;
    margin-bottom: 30px;
}

ol {
    margin-bottom: 20px;
}

.jump-to a {
text-decoration: none;
  color: #1f936b;
}

.summary, .design-process, .purpose, .objectives, .evaluation {
    border-top: dashed 5px #1f936b;
}

.proj-phase {
    background-color: #fff;
    padding: 15px;
}

.proj-body ol, .objectives ol, .jump-to ol{
    margin-left: 45px;
}

.proj-body p {
    margin-bottom: 20px;
}

.next-proj {
    background-color: #1f936b;
    padding: 10px;
    text-align: center;
}

.next-proj a {
    text-decoration: none;
    color: #fff;
}

.current-proj {
    background-color: #1f936b;
    border-bottom: solid #0e0e0e 2px;
    color: #fff;
    padding: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: .5px solid #0e0e0e;
  text-align: left;
  padding: 8px;
  font-weight: 500;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.expected-path {
    margin-left: 20px;
}
.expected-path {
    margin-left: 15px;
}

/* Tablet Styling */

@media screen and (min-width: 768px) {
/* Home Styling */
.container-home {
    margin-top: 100px;
}
/* About Me Styling */
#abt-img, video {
    width: 70%;
}
video {
    margin-bottom: 10px;
}
.edit, .mobile-img-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Project Overview Styling */
#post-it, #post-it2 {
    width: 80%;
}
/* Individual Projects Styling */
.proj-overview, .middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.middle {
    margin: 40px 0px;
}
#mobile, #mobile2, #mobile3, #mobile4 {
    width: 50%;
}
}

/* Desktop Styling */

@media screen and (min-width: 1024px) {
/* Header */
.nav-menu {
    display: none;
}
.desktop-nav {
  background-color: #f4f3ee;
  color: #0e0e0e;
  box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.14);
  padding: 7px 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#desktop-menu a {
  color: #0e0e0e;
  text-decoration: none;
}
#desktop-menu a:hover {
    color: #1f936b;
}
  #desktop-menu ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 10px 50px;
    margin-top: 30px;
    gap: 50px;
  }
  #desktop-logo {
    width: 300px;
    padding: 10px 30px;
  }
/* Home Styling */
.container-home {
    margin-top: 100px;
    padding: 0px 100px;
    align-items: flex-start;
}
/* About Me Styling */
.abt-container, .proj-container, 
.design-process, .intro, .summary, .purpose, .objectives, .evaluation, .objective, .emphasize, .define, .ideate, .prototype, .test, .implement, .proj-body, .proj-overview {
    padding: 50px 100px;
}
#abt-img, video {
    width: 40%;
}
video {
    margin-bottom: 10px;
}
.edit, .mobile-img-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Project Overview Styling */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.thumbnail {
    width: 65%;
    margin-bottom: 15px;
}
.case-btn {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#post-it, #post-it2 {
    width: 50%;
}
/* Individual Projects Styling */
.proj-overview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.middle {
    margin: 40px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#mobile {
    width: 30%;
}
#mobile2, #mobile3, #mobile4 {
    width: 40%;
}
.videos {
    width: 70%;
}
.proj-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.proj-phase {
    text-align: center;
}
.current-proj {
    border: none;
    padding: 3px 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.next-proj a:hover {
    text-decoration: underline;
    text-decoration-color: #fff;
    text-decoration-thickness: 2px;
    text-underline-offset: 7px;
}
#hey-im-nia {
    font-size: 45px;
}
.intro-home p {
    font-size: 35px;
    line-height: 60px;
}
.card-proj1, .card-proj2 {
    margin: 25px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.card-proj2 {
    flex-direction: row-reverse;
}
.middle a:hover {
    background-color: #f4f3ee;
    color: #1f936b;
}
}